.backgroundCloudy {
    background: url('../media/ForegroundCloudy.png'),
                url('../media/BackgroundTurbulance.png'),
                url('../media/BackgroundCloudy.png');
    margin: 0px;
}

.hamburger {
    display: none;
    font-size: 1.2rem;
    background: none;
    margin-top:5px;
    margin-left:5px;
    color: white;
    cursor: pointer;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        position:fixed;
        z-index: 2555;
        top:0;
    }

    .navbar {
        display: none;
        height: 0px;
    }

    .maindivider {
        margin-top: 0px;
    }

    .navbar.active {
        display: block;
        width: fit-content;
        height: fit-content;
        justify-self: left;
        padding-top: 0px;
        padding-left:0px;
        border-left-width: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 15px;

    }
    .navbar.active .navflexbox {
        flex-direction: column;
        padding-left:40px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 1);
    color: #999;
    margin: 0px;
    padding-top: 10px;
    border-color: rgba(255, 255, 255, .25);
    border-style: ridge;
    border-width: 5px;
    border-top-width: 0px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: stretch;
    position: fixed;
    top: 0;
}

.navflexbox {
    display: flex;
    gap: 1px;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.navbox {
    background-color: #222222;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-style: double;
    border-color: #000;
    border-width: 3px;
    width: stretch;
}

.navbox:hover {
    background-color: #333;
}

.navbox div {
    justify-self: center
}

.page-content {
    line-height: 1.5;
    justify-self: center;
    margin-top: 100px;
    opacity: 1;
}

.maindivider {
    background-color: rgba(0, 0, 0, 0.5);
    color: #999;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 25px;
    border-color: rgba(255, 255, 255, .05);
    border-style: inset;
    border-width: 3px;
    max-width: 900px;
    width: stretch;
}

.flexbox {
    display: flex;
    gap: 5px;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.linkbox {
    background-color: #222222;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    width: 260px;
    height: 200px;
    border-style: double;
    border-color: #000;
    border-width: 3px;
}

.linkbox:hover {
    background-color: #333;
    border-style:groove;
    border-color: #555;
    border-width: 3px;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 160px;
    max-width: 960px;
    justify-self: center;
    width: stretch;
}

a {
    color: #7e6262;
    text-decoration: underline
}

a:hover {
    text-decoration: underline dotted;
}

footer a {
    color: #777;
}

#siteauthor {
    color: #333;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif
}