.backgroundCloudy {
    background-image: url("../media/BackgroundCloudy.png");
}
.navbar {
    background-color: rgba(0, 0, 0, 1);
    color: #999;
    margin:0px;
    padding-top: 25px;
    border-color: rgba(255, 255, 255, .25);
    border-style:ridge;
    border-width: 3px;
    border-width:5px;
    border-top-width:0px;
    border-bottom-left-radius:150px;
    border-bottom-right-radius:150px;
    width: stretch;
    position:fixed;
    top:0;
}
.navflexbox {
    display: flex;
    gap: 1px;
    justify-self: center;
    flex-direction: row;
    padding-left:50px;
    padding-right:50px;
    width:stretch;
}
.navbox {
    background-color: #222222;
    border-radius: 5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 20px;
    border-style: double;
    border-color: #000;
    border-width: 3px;
    width:stretch;
}
.navbox:hover{
    background-color: #333;
}

.navbox div {
    justify-self:center
}
.page-content {
    line-height: 1.5;
    justify-self: center;
    margin-top:100px;
}

.maindivider {
    background-color: rgba(0, 0, 0, 0.5);
    color: #999;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 25px;
    border-color: rgba(255, 255, 255, .05);
    border-style: inset;
    border-width: 3px;
    max-width: 900px;
    width: stretch;
}

.flexbox {
    display: flex;
    gap: 5px;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.flexbox div {
    background-color: #222222;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    width: 260px;
    height: 200px;
    border-style: double;
    border-color: #000;
    border-width: 3px;
}

.flexbox div:hover {
    background-color: #333;
    border-style: dotted;
    border-color: #666;
    border-width: 2px;
    padding: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 160px;
    max-width: 960px;
    justify-self: center;
    width: stretch;
}

a {
    color: #7e6262;
    text-decoration: underline
}

a:hover {
    text-decoration: underline dotted;
}

footer a {
    color: #777;
}

#siteauthor {
    color: #333;
}

h1, h2, h3
{
    font-family:'Times New Roman', Times, serif
}

body{
    margin:0px;
}