#left {
    width: 250px;
    height: 450px;
    float:left;
}
#center {
    width: 250px;
    height: 450px;
    float:left;
}
#right {
    width: 250px;
    height: 450px;
    float:right;
}
.maindivider{
    margin-left:25px;
    margin-right:25px;
}
.container{
    justify-self:center;
    justify-content:center;
}