#left {
    width: 215px;
    height: 450px;
    float:left;
}
#center {
    width: 210px;
    height: 450px;
    float:left;
}
#right {
    width: 210px;
    height: 450px;
    float:right;
}
.container{
    justify-self:center;
    justify-content:center;
    height:fit-content;
    width:stretch;
}
.maindivider{
    height:fit-content;
}

