<!DOCTYPE html>
<nav>
    <button class="hamburger" id="hamburger">&#9776</button>
    <div class="navbar" id="navbar">
        <div class="navflexbox">
            <a href="./index.html" class="navbox">
                <div>
                    Homepage
                </div>
            </a>
            <a href="./page2.html" class="navbox">
                <div>
                    Sleeping Better
                </div>
            </a>
            <a href="./page3.html" class="navbox">
                <div>
                    Dreams
                </div>
            </a>
            <a href="./page4.html" class="navbox">
                <div>
                    Sleep Paralysis
                </div>
            </a>
        </div>
    </div>
</nav>