<!DOCTYPE html>
<nav>
    <button class="hamburger" id="hamburger">&#9776</button>
    <div class="navbar" id="navbar">
        <div class="navtopbox">
            <h1 class="navtitle">
                Sleeping Wrong
            </h1>
            <div class="navflexbox">
                <a href="./index.html" class="navbox">
                    Homepage
                </a>
                <a href="./page2.html" class="navbox">
                    Sleeping Better
                </a>
                <a href="./page3.html" class="navbox">
                    Dreams
                </a>
                <a href="./page4.html" class="navbox">
                    Sleep Paralysis
                </a>
            </div>
        </div>
    </div>
</nav>