<!DOCTYPE html>
<body>
    <nav>
        <div class="navbar">
            <div class="navflexbox">
                <a href="/index.html" class="navbox">
                    <div>
                        index
                    </div>
                </a>
                <a href="/page2.html" class="navbox">
                    <div>
                        Page2
                    </div>
                </a>
                <a href="/page2.html" class="navbox">
                    <div>
                        Page3
                    </div>
                </a>
                <a href="/page2.html" class="navbox">
                    <div>
                        Page4
                    </div>
                </a>
                <a href="/page2.html" class="navbox">
                    <div>
                        Page5
                    </div>
                </a>
            </div>
        </div>
    </nav>
</body>
