html {
    background-image: conic-gradient(#4f1e5a 5%, #1e535a 40%, #781919 5%);
}
body {
    background-image: conic-gradient(#222 5%, #000 70%, #444 5%);
    color: #FFFFFF
}

a {
    color:#777;
    text-decoration: underline
}

a:hover {
    text-decoration: underline dotted;
}